
[[chains]]
id = "{{ chain['chain_id'] }}"
rpc_addr = "http://{{ route['ip'] }}:{{ chain['port_prefix'] }}57"
grpc_addr = "http://{{ route['ip'] }}:{{ chain['port_prefix'] }}90"
event_source = { mode = 'push', url = "ws://{{ route['ip'] }}:{{ chain['port_prefix'] }}57/websocket", batch_delay = '500ms' }

rpc_timeout = "20s"
account_prefix = "{{ chain['account_prefix'] }}"
key_name = "{{ key_name }}"
address_type = { derivation = "cosmos" }
store_prefix = "ibc"
default_gas = {{ chain['default_gas'] }}
max_gas = {{ chain['max_gas'] }}
gas_multiplier = {{ chain['gas_multiplier'] }}
gas_price = { price = {{ chain['gas_price'] }}, denom = "{{ chain['denom'] }}" }
max_msg_num = 30
max_tx_size = 1800000
clock_drift = "15s"
max_block_time = "10s"
trusting_period = "{{ chain['trusting_period'] }}"
memo_prefix = "{{ memo }}"
trust_threshold = { numerator = '1', denominator = '3' }

[chains.packet_filter]
policy = 'allow'
list = [
{% for channel in chain['channels'] %}
{% if channel['dest'] in route['connections'] %}
  ['{{ channel['port'] }}', '{{ channel['channel'] }}'], {{ "#" }} {{ channel['dest'] }}
{% endif %}
{% endfor %}
]
