{% if route['rpc_port_prefix'] is defined %}
  {% set rpc_port_prefix = route['rpc_port_prefix']  %}
{% else %}
  {% set rpc_port_prefix = chain['port_prefix']  %}
{% endif %}

[[chains]]
id = "{{ chain['chain_id'] }}"
ccv_consumer_chain = false

rpc_addr = "http://{{ route['ip'] }}:{{ rpc_port_prefix }}57"
grpc_addr = "http://{{ route['ip'] }}:{{ chain['port_prefix'] }}90"

{% if route['event_source'] is defined and route['event_source'] == 'push'  %}
event_source = { mode = 'push', url = "ws://{{ route['ip'] }}:{{ rpc_port_prefix }}57/websocket", batch_delay = '500ms' }
{% else %}
event_source = { mode = 'pull', interval = '1s' }
{% endif %}

rpc_timeout = "10s"
trusted_node = true
account_prefix = "{{ chain['account_prefix'] }}"
key_name = "{{ key_name }}"
key_store_type = "Test"
store_prefix = "ibc"
default_gas = {{ chain['default_gas'] }}
max_gas = {{ chain['max_gas'] }}
gas_price = { price = {{ chain['gas_price'] }}, denom = "{{ chain['denom'] }}" }
gas_multiplier = {{ chain['gas_multiplier'] }}
max_msg_num = 30
max_tx_size = {{ chain['max_tx_size'] }}
clock_drift = "15s"
max_block_time = "30s"
trusting_period = "{{ chain['trusting_period'] }}"
trust_threshold = { numerator = '1', denominator = '3' }
memo_prefix = "{{ memo }}"

{% if route['address_type'] is defined and route['address_type'] == 'injective'  %}
address_type = { derivation = 'ethermint', proto_type = { pk_type = '/injective.crypto.v1beta1.ethsecp256k1.PubKey' } }
{% elif route['address_type'] is defined and route['address_type'] == 'ethermint' %}
address_type = { derivation = 'ethermint', proto_type = { pk_type = '/ethermint.crypto.v1.ethsecp256k1.PubKey' } }
{% else %}
address_type = { derivation = 'cosmos' }
{% endif %}

{% if route['fee_grant'] is defined %}
fee_granter = "{{ route['fee_grant'] }}"
{% endif %}

{% if polkachu is defined %}
{% include 'polkachu_channels.toml.j2' %}
{% else %}
{% include 'channels.toml.j2' %}
{% endif %}
